In [1]:
# List of high schools
high_schools = ["Hernandez High School", Figueroa High School", Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

SyntaxError: invalid syntax (Temp/ipykernel_220792/2700611761.py, line 2)

In [2]:
# List of high schools
high_schools = ["Hernandez High School", Figueroa High School", Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

SyntaxError: invalid syntax (Temp/ipykernel_220792/235993303.py, line 2)

In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [5]:
for school in high_school_types: 
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [6]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
#Add the Pandas dependency
import pandas as pd

In [9]:
school_series=pd.Series(high_schools)

In [10]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [11]:
for school in school_series
    print(school)

SyntaxError: invalid syntax (Temp/ipykernel_220792/4237603631.py, line 1)

In [12]:
for (i) in school_series
    print(i)

SyntaxError: invalid syntax (Temp/ipykernel_220792/1499276195.py, line 1)

In [13]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [14]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [17]:
# Add the list to a new dataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [18]:
# Add the school name list to the DataFrame
schools_df["school_name"] = school_name

# Add the type of school list to the DataFrame
schools_df["type"] = type_of_school

# Print the DataFrame
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# Create a dictionary of infomration on high schools.
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type':type_of_school}

In [20]:
print high_schools_dict

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(high_schools_dict)? (Temp/ipykernel_220792/3057020532.py, line 1)

In [21]:
print(high_schools_dict)

{'School ID': [0, 1, 2, 3, 4], 'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [22]:
high_schools_df[{high_school_dict}]

NameError: name 'high_schools_df' is not defined

In [23]:
high_schools_df = pd.DataFrame

In [24]:
high_schools_df[{high_school_dict}]

NameError: name 'high_school_dict' is not defined

In [25]:
high_schools_df[{high_schools_dict}]

TypeError: unhashable type: 'dict'

In [26]:
high_schools_df[high_schools_dict]

TypeError: 'type' object is not subscriptable

In [27]:
high_schools_df = pd.DataFrame()

In [28]:
high_schools_df[high_schools_dict]

KeyError: "None of [Index(['School ID', 'school_name', 'type'], dtype='object')] are in the [columns]"

In [29]:
high_schools_df[{high_schools_dict}]

TypeError: unhashable type: 'dict'